<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <p class="navbar-brand" href="#">Logo</p>
  <ul class="navbar-nav float-start">
    <li class="active" (click)="onSelectedProducts()">
    <a  class="clickable nav-link">  Home</a>
    </li>
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">product</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"(click)="onProductsPromo()" >Promotion</a></li>
        <li><a class="dropdown-item" (click)="onProductsDispo()" >Disponible</a></li>
      
      </ul>
    </li>
   
    <!-- Dropdown -->
    <div >
    <li class="nav-item dropdown " *ngIf="this.auth.isAuthentificated else loginTemplate">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi-person"></i></a>
      <ul class="dropdown-menu float-end">
        <li><a class="dropdown-item" href="#">Change Password</a></li>
        <li><a class="dropdown-item" (click)="Logout()" href="#">Logout</a></li>
      
      </ul>
    </li>
    <ng-template #loginTemplate>
      <a class="btn nav-link"  (click)="login()">Login </a>
    </ng-template>
   
    
     <div >
     
      
     </div>
    </div>
  </ul>


</nav>

 <div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
  
   <ul class="list-group" *ngIf="categories">
    <li  [ngClass]="currentCategory==c?'active':''" (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories">
    {{c.name}}
    </li>
     
   </ul>
    
  </div>
  <div class="col-md-9">
    
        <router-outlet></router-outlet>
      

  </div>
 </div>
</div>


 


